In [1]:
from sklearn.linear_model import LinearRegression
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [2]:
est = LinearRegression(fit_intercept = True)

In [3]:
ice = pd.read_csv('SeaIce.txt', delim_whitespace = True)
ice

     year  mo data_type region  extent   area
0    1979   1   Goddard      N   15.54  12.33
1    1980   1   Goddard      N   14.96  11.85
2    1981   1   Goddard      N   15.03  11.82
3    1982   1   Goddard      N   15.26  12.11
4    1983   1   Goddard      N   15.10  11.92
..    ...  ..       ...    ...     ...    ...
419  2009  12   Goddard      N   12.51  10.25
420  2010  12   Goddard      N   12.02  10.08
421  2011  12   Goddard      N   12.40  10.28
422  2012  12   Goddard      N   12.20  10.11
423  2013  12   NRTSI-G      N   12.38  10.48

[424 rows x 6 columns]

In [14]:
clean_ice_data = ice[ice.data_type != '-9999']
#for i in range(12):
 #   clean_ice_data.extent[clean_ice_data.mo == i + 1] = 100 * (clean_ice_data.extent[clean_ice_data == i + 1]
  #                                                             - month_means[i + 1])/ month_means.mean()

In [15]:
x = clean_ice_data[['year']]
y = clean_ice_data[['extent']]
est.fit(x, y)
print("Coefficients: ", est.coef_)
print("Intercept: ", est.intercept_)

Coefficients:  [[-0.05018625]]
Intercept:  [111.95135764]

In [17]:
from sklearn import metrics
y_hat = est.predict(x)
print("MSE: ", metrics.mean_squared_error(y_hat, y))
print("R ^ 2 : ", metrics.r2_score(y_hat, y))
print("Var: ", y.var())

MSE:  9.453277027370584
R ^ 2 :  -35.00545377482946
Var:  extent    9.738906
dtype: float64

In [23]:
#Let's try predict for year 2025
x = [[2025]]
y_pred = est.predict(x)
print("Prediction of extent for the year 2025: ", y_pred)

Prediction of extent for the year 2025:  [[10.32420344]]

C:\Users\jules\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(