In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [6]:
#Load the adult data file hosted on UCI's Machine Learning Repository
data_file = open('adult.data', 'r')
def checkint(a):
#A function to check if the value is a digit
    if a.isdigit():
        return int(a)
    else:
        return 0
    
data = []
#Create a list to hold the data
for line in data_file:
    data1 = line.split(', ')
    if len(data1) == 15:
        data.append([checkint(data1[0]), data1[1],
                     checkint(data1[2]), data1[3],
                     checkint(data1[4]), data1[5], 
                     data1[6], data1[7], data1[8],
                     data1[9], checkint(data1[10]),
                     checkint(data1[11]), checkint(data1[12]), 
                     data1[13], data1[14]
                    
                    ])
data[1:2]
#Check first row

[[50,
  'Self-emp-not-inc',
  83311,
  'Bachelors',
  13,
  'Married-civ-spouse',
  'Exec-managerial',
  'Husband',
  'White',
  'Male',
  0,
  0,
  13,
  'United-States',
  '<=50K\n']]

In [7]:
#Let's create a dataframe from the data
df = pd.DataFrame(data, columns = ['age', 'type_employer', 'fnlwgt', 'education', 'education_num',
                                  'marital', 'occupation', 'relationship', 'race', 'sex', 'capital_gain',
                                  'capital_loss', 'hr_per_week', 'country', 'income'])
df.head()

,age,type_employer,fnlwgt,education,education_num,marital,occupation,relationship,race,sex,capital_gain,capital_loss,hr_per_week,country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K\n
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K\n
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K\n
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K\n
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K\n

In [22]:
male = df[df.sex == 'Male']
female = df[df.sex != 'Male']
#Separate by gender
#A total 0f 21790 male
#A total 0f 10771 female

(10771, 15)

In [23]:
#Separate low income professionals by gender
male_low_income = df[(df.sex == 'Male') & (df.income == '<=50K\n')]
#A total of 15,128 low income male earners
female_low_income = df[(df.sex == "Female") & (df.income == '<50K\n')]

(0, 15)

In [31]:
print("The percentage of men is: ", (int(len(male)) / (float(len(df))) ) * 100, " %" )
print("The percentage of female is: ", (int(len(female)) / (float(len(df))) ) * 100, " %" )
print ("The rate of men with low income is: ", ((int(len(male_low_income)))/ (float(len(male))) * 100), "%")
print("The rate pf female with low income is: ", ((int(len(female_low_income)))/ (float(len(female))) * 100), "%" )

The percentage of men is:  66.92054912318419  %
The percentage of female is:  33.07945087681583  %
The rate of men with low income is:  69.42634235888022 %
The rate pf female with low income is:  0.0 %